name: Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        # استخدام الإصدار الرسمي والمستقر من كيفي
        uses: kivy/buildozer-action@v1.2.2
        with:
          command: buildozer android debug
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
