name: Build APK
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        # استخدام النسخة المرقمة رسمياً لضمان التعرف عليها
        uses: kivy/buildozer-action@v1.2.2
        with:
          command: buildozer android debug
          buildozer_version: master

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: AlDhahra-Station
          path: bin/*.apk
