name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf autotools-dev libtool \
          pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev \
          libtinfo6 cmake libffi-dev libssl-dev libstdc++6 python3-pip \
          openjdk-17-jdk libtinfo-dev
          pip install --user --upgrade buildozer Cython==0.29.33
      - name: Build with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AlDhahra-App-Final
          path: bin/*.apk
